{% extends "base.html" %}
{%block content%}
<div class="card">
    <div class="card-header">
     Client ID: {{customer_record.id}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{customer_record.first_name}} {{customer_record.last_name}}</h5>
      <p class="card-text"><b>Age: </b>{{customer_record.age}}</p>
      <p class="card-text"><b>Email: </b>{{customer_record.email}}</p>
      <p class="card-text"><b>Phone Number: </b>{{customer_record.phone}}</p>
      <p class="card-text"><b>Address: </b>{{customer_record.address}}</p>
      <p class="card-text"><b>City: </b>{{customer_record.city}}</p>
      <p class="card-text"><b>State: </b>{{customer_record.state}}</p>
      <p class="card-text"><b>Zip Code: </b>{{customer_record.zipcode}}</p>
      <p class="card-text"><b>Created At: </b>{{customer_record.created_at}}</p>
    </div>
  </div>
  <br/>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
  <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'update_record' customer_record.id %}" class="btn btn-primary">Update</a>
  <br/>
  <br/>
{% endblock %}
